.ctWA-containers{
    margin: auto;
    /* border: 1px solid black;
    border-radius: 5px; */
    padding: 20px;
    text-align: center;
    max-width: 800px;
}
.ctWA-forms{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.ctWA-forms textarea{
    resize: none;
    min-height: 304px;
}

#delete-container, #update-container, #reate-container{
    display: none;
}

.flash-messages{
    max-width: 200px;
    margin: auto;
}
.imgCardWA, .upload-back-img img{
    object-fit: cover;
    width:244px;
    height: 444px;
    border-radius: 5px;

}

.wrap, #upload-back{
    width: 70%;
    margin: auto;
    border: 1px solid #00000073;
    border-radius: 10px;
    margin-top: 50px;
    padding: 50px;
}

.wrap h1{
font-size: 43px;
margin-bottom: 20px;
}