
/*conteneur du widget*/
.cards{
  padding: 0 50px;
}
/* jeu de cartes */
.cardsT{
    bottom: 0;
    display: flex;
    height: 150px;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.cardT{
  height: 150px;
  width: 100px;
    margin: 0 -25px;
    position: relative;
    border: none;
}


.cardT-back{
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}

.cardT-back:after{
    content:"";
    animation:none;
    background:#fff;
    bottom:0;
    left:0;
    opacity:0;
    position:absolute;
    right:0;
    top:0;
  }
  

  .cardT .cardT-back{
    background: linear-gradient(-135deg, #ff9999, #da0b0b);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(255, 153, 153, 0.75);
  }

  .cardT:hover .cardT-back{
    box-shadow: 0 10px 20px rgba(0,0,0,0.4), inset 0 0 0 2px rgba(255,153,153,0.75);
    transform:translateY(50px) scale(2);
    transition-duration: 0.2s;
    z-index: 5;
  }
  .cardT:hover .cardT-back:after{
    animation:fade 250ms ease-out forwards;
  }
  .cardT:hover:after{
    top:-175px;
  }
  
  @media screen and (max-width: 1250px){
    .cardT{
      width: 85px;
      margin: 0 -25px;
    }
  }
  @media screen and (max-width: 854px){
    .cardT{
      width: 200px;
      height: 300px;
      margin: 0 -101px;
    }
  }
  
    @keyframes fade{
    0%{
      opacity:0.9;
      transform:scale(1);
    }
    100%{
      opacity:0;
      transform:scale(1.15);
    }
  }
  
/*carte choisie */
.card-result {
  padding: 50px;
  opacity: 0;
  transform: translateY(200px);
  pointer-events: none;
}
.t-card-img {
  background: #0087cc;
  transform: rotateY(180deg);
}
/* .t-card-img img{
  width: 100%;
  height: 100%;
} */
.t-card-back{
  background: linear-gradient(-135deg, #ff9999, #da0b0b);
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.bigCardResult{
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}

.bigCardContainer {
  cursor: pointer;
  height: 300px;
  perspective: 600;
  position: relative;
  width: 200px;
}